@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

:root {
    --fs-42: 42px;
    --fs-36: 36px;
    --fs-32: 32px;
    --fs-28: 28px;
    --fs-24: 24px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
    --DarkSide: #0A0908;
    --PaperWhite: #EDE6DC;
    --FireRed: #D5402C;
    --LeafGreen: #748678;
    --SnowWhite: #FAFEFF;
    --ff-inconsolata: 'Inconsolata', monospace;
}
/* ---- General ---- */
* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-inconsolata);
    font-weight: normal;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--PaperWhite);
}
a {
    color: var(--DarkSide);
    text-decoration: none;
}
.experience-list > li > a {
    display: flex;
    gap: 8px;
    align-items: center;
}
h1 {
    font-size: var(--fs-24);
}
nav {
    border: 1px solid #D5402C;
    border-top: none;
    border-bottom: none;
    border-left: unset;
}
nav ul {
    height: 100%;
    width: 35px;
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    align-items: center;
}
li::marker {
    list-style: none;
    font-size: 0px; 
}
section {
    border-bottom: 1px solid #D5402C;
}
section > h2 {
    width: 100%;
    text-align: center;
    margin: 20px 0 10px;
}
main {
    display: flex;
    flex-direction: column;
}
/* ---- Profile ---- */
.profile {
    width: 100%;
    display: flex;
}
.profile-info {
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.profile nav ul li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #D5402C;
}
.profile nav ul li:first-child {
    border-top: unset;
}
.profile nav ul li a {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: center;
    margin: 10px 0;
    font-size: var(--fs-14);
}
.profile-info__img {
    width: 150px;
    height: auto;
    margin: 10px 0;
}
.profile-info h2,
.profile-info p {
    width: 100%;
}
/* ---- Intro ---- */
.intro {
    padding: 0px 20px 20px;
}
.intro p {
    font-size: var(--fs-14);
}
/* ---- Projects ---- */
.projects {
    padding: 0 0 25px;
}
.slick-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}
.slick-dots li button {
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: transparent/*var(--FireRed)*/;
    border: 1px solid var(--FireRed);
    font-size: 0;
}
.slick-dots li.slick-active button {
    background-color: var(--FireRed);
}
.slick-arrow {
    display: none;
}
.slick-slide picture img {
    display: block;
    width: 100%;
}
.projects-carousel__project {
    position: relative;
}
.projects-carousel__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px 0;
}
.projects-carousel__title {
    font-size: var(--fs-20);
}
.projects-carousel__desc {
    font-size: var(--fs-14);
    margin-top: 10px;
}
.projects-carousel__button {
    width: 100%;
    position: relative;
    text-align: right;
    margin-top: 5px;
    font-size: var(--fs-14);
    color: var(--FireRed);
}
/* ---- Slider ---- */
.scroller {
    cursor: grab;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
    position: relative;
}
.scroller::-webkit-scrollbar {
    display: none;
}
.scroller-wrapper {
    display: flex;
}
.skills .scroller {
    padding: 0 20px 20px;
    flex-direction: column;
    position: relative;
    gap: 10px;
}
.skill {
    display: flex;
    gap: 15px;
}
.skill li{
    display: flex;
    width: auto;
    height: 35px;
    padding: 0 20px;
    border-radius: 8px;
    font-weight: 300;
    font-size: var(--fs-20);
    color: var(--SnowWhite);
    background-color: var(--FireRed);
    align-items: center;
    justify-content: center;
}
.skill:after {
    width: 30px;
    height: 10px;
    content: 'a';
    display: flex;
    color: transparent;
}
/* ---- Experience  ---- */
.experience {
    padding: 0px 0 12px;
}
.experience-carousel {
    display: flex !important;
    flex-direction: column;
    padding: 0 20px;
    gap: 5px;
}
.experience-info li::marker {
    list-style: none;
    font-size: 10px; 
    white-space: nowrap;
}
.experience-title {
    font-size: var(--fs-16);
}
.experience-site {
    color: var(--FireRed);
    text-decoration: underline;
    font-size: var(--fs-12);
}
.experience-dates {
    color: var(--LeafGreen);
    font-size: var(--fs-12);
}
.experience-info {
    display: flex;
    gap: 3px;
    margin-left: 1em;
    margin-bottom: 10px;
    flex-direction: column;
    color: var(--DarkSide);
    font-size: var(--fs-14);
}

/* ---- Expertise  ---- */
.experience-list {
    display: grid;
    column-gap: 8px;
    grid-template-columns: auto 1fr;
    padding: 0 20px 20px;
    max-width: 380px;
    margin: auto;
}
.experience-list > li {
    height: 35px;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}
.experience-list > li span {
    line-height: 15px;
    font-size: var(--fs-12);
    text-decoration: underline;
    text-underline-offset: 2px;
}
.expertise-icon {
    width: 20px;
}

/* ---- Footer  ---- */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
footer > p {
    padding: 15px 20px;
    grid-column: 1/3;
    border-top: 1px solid var(--FireRed);
    font-size: var(--fs-10);
}
.footer-contact {
    border-right: 1px solid var(--FireRed);
}
.footer-contact > figure {
    display: flex;
    padding: 8px 10px;
    gap: 8px;
    border-bottom: 1px solid var(--FireRed);
    align-items: center;
    justify-content: center;
}
.footer-contact > figure > figcaption {
    font-size: var(--fs-12);
}
.footer-contact > p {
    font-size: var(--fs-12);
    padding: 8px 10px;
    text-align: center;
}
.badge {
    width: 40px;
    height: 40px;
    display: block;
}
.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-socials > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    gap: 7px;
    padding: 10px;
    align-items: center;
}
.social-item > a {
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-item > a > p {
    font-size: 10px;
    color: var(--FireRed);
    text-decoration: underline;
}
.social-logo {
    width: 32px;
    height: 32px;
}

@media (min-width:360px) {
    .experience-list {
        column-gap: 25px;
        row-gap: 8px;
    }
    .footer-contact > figure > figcaption {
        font-size: var(--fs-14);
        font-weight: 400;
    }
    .footer-contact > p {
        font-size: var(--fs-14);
        font-weight: 400;
    }
    .social-item > a > p {
        font-size: 12px;
    }
    footer > p {
        font-size: var(--fs-12);
    }
}
@media (min-width: 500px) {
    .footer-socials > ul {
        gap: 15px;
    }
}
@media (min-width: 1000px) {
    section {
        overflow: hidden;
    }
    main {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 315px 200px 200px auto auto; 
        gap: 0px 0px; 
        grid-template-areas: 
          "profile intro"
          "expertise experience"
          "skills experience"
          "projects projects"
          "footer footer"; 
        max-width: 900px;
        margin: 50px auto;
        border: 1px solid var(--FireRed);
    }
    .profile { grid-area: profile; }
    .intro { grid-area: intro; }
    .projects { grid-area: projects; padding: 0 0 20px; }
    .experience { grid-area: experience; border-left: 1px solid #D5402C; }
    .expertise { grid-area: expertise; }
    .skills { grid-area: skills; }
    .footer { grid-area: footer; }
    
    .projects-carousel__project {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    .projects-carousel .slick-dots {
        margin-top: 5px;
    }
    .projects-carousel__info {
        height: 100%;
    }
}